<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Urus-sosh1</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главное</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'klaas' %}">Классы</a>
                </li>
                {% for i in categor %}
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'pedagog' i.pk %}">{{ i.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="navbar navbar-nav right">

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'logaut' %}">Выход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page">{{ user.username }}</a>
            </li>
        </div>
    </div>
</nav>
