{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <title>Document</title>
</head>
<body>
<hr style="margin: 10px 0;
	padding: 0;
	height: 0;
	border: none;
	box-shadow: 0 0 10px 3px #e50d0d;">
<div class="topnav">
    <a class="active" href="#home">МБОУ "СОШ №1 г.Урус-Мартан"</a>
    <a href="#about">КОНТАКТЫ</a>
    <a href="#contact">О НАС</a>
    <div class="search-container">
        <a class="active_1" href="#home">ВХОД</a>
    </div>
</div>
</body>
</html>