{% extends 'urus_sosh1/index.html' %}
{% load crispy_forms_tags %}
{% block wer %}
    <form action="{% url 'pedagog' pedagog.cet_id %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button style="border: none; background-color: cornflowerblue; color: white">Изменить</button>
        <button style="border: none; background-color: cornflowerblue"> <a style="text-decoration: none; color: white" href="{% url 'pedagog' pedagog.cet_id %}"> Назад</a> </button>
    </form>
{% endblock %}